/* styles go here */
.naming {
  margin-bottom: 10px;
  display: block;
}

.fieldset {
  margin-bottom: 20px;
}

.naming:last-child {
  margin-bottom: 0;
  display: block;
}

.ageSize {
  width: 65px;
}
